includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    # Level 9 is the highest level
    level: 5
    ignoreErrors:
        - '#Method .+::(data|provide).*\(\) is unused\.#'
        - '(::allowedSorts)'
        - '(Call to an undefined method Illuminate\\Http\\Client\\Response::getBody)'
        - '(Illuminate\\Database\\Query\\Expression)'

    excludePaths:
        - ./*/*/FileToBeExcluded.php
        - app/Http/Resources
        - vendor/spatie/laravel-query-builder/src
        - storage/
        - doc/
        - *.xml
